Repository aether-development/utilities, changes with the labels that .github/labeler.yml gives for each.
All labels: Packages | config-eslint, Packages | config-prettier, Packages | config-typescript

.github/labeler.yml:

Chore:
  - any: ["*"]
    all: ["!packages/*", "!packages/**/*"]

"Packages | config-eslint":
  - packages/config-eslint/*
  - packages/config-eslint/**/*

"Packages | config-prettier":
  - packages/config-prettier/*
  - packages/config-prettier/**/*

"Packages | config-typescript":
  - packages/config-typescript/*
  - packages/config-typescript/**/*

chore: pr label automation
  .github/workflows/pr-automation.yml
Labels: none

chore: updated readmes
  packages/config-eslint/README.md
  packages/config-prettier/README.md
  packages/config-typescript/README.md
Labels: Packages | config-eslint, Packages | config-prettier, Packages | config-typescript

chore(config-eslint): release @aetherjs/config-eslint@0.0.1
  packages/config-eslint/CHANGELOG.md
  packages/config-eslint/package.json
Labels: Packages | config-eslint

chore(config-eslint): added cliff
  package.json
  packages/config-eslint/.cliff-jumperrc.yml
  packages/config-eslint/cliff.toml
  yarn.lock
Labels: Packages | config-eslint

chore(config-eslint): release @aetherjs/config-eslint@0.0.2
  packages/config-eslint/package.json
Labels: Packages | config-eslint

chore: added cliff
  packages/config-eslint/.cliff-jumperrc.json
  packages/config-eslint/.cliff-jumperrc.yml
  packages/config-eslint/cliff.toml
  packages/config-eslint/package.json
Labels: Packages | config-eslint

chore(config-eslint): release @aetherjs/config-eslint@0.0.3
  packages/config-eslint/package.json
Labels: Packages | config-eslint

chore: updated package.json
  package.json
  packages/config-eslint/package.json
Labels: Packages | config-eslint
